%main.grid-container
  %h1 Anomalies
  - @anomalies_list.each do |error, anomalies|
    %h2= error unless anomalies.empty?
    = case anomalies.first
      - when Ingredient then render 'ingredients/table', ingredients: anomalies
      - when Product then render 'products/table', products: anomalies
      - when Brand then render 'brands/table', products: anomalies
